body{
    background-image: url("/images/italian-food-background-1.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button{
    background-color: skyblue;
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 30px;
    color: white;
    text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0 25px 0 25px;
  margin-left: 350px;
  margin-right: auto;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.meal-img {
  height: 300px;
  width: 450px;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.font-color {
  color: white;
}

.font-color-top {
  color: white;
}

.column-half {
  flex-basis: 50%;
}

.column-quarter {
  flex-basis: 25%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-width {
  width: 500px;
}
