body{
    background-image: url("/images/food-menu-bg-1-1920x1080.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button{
    background-color: skyblue;
    border: none;
    border-radius: 2px;
    width: 140px;
    height: 30px;
    color: white;
    text-transform: uppercase;
}

.row {
  display: flex;
  padding: 0 25px 0 25px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.button-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 25px;
}

.meal-img {
  height: 300px;
  width: 450px;
}

.img-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.font-color {
  color: white;
}

.font-color-top {
  color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.test {

}

@media only screen and (min-width : 415px) {
  .col-sm-half {
    width: 50%;
  }
}

@media only screen and (max-width : 415px) {
  .row {
    flex-direction: row;
  }
}
